.portfolio {
  height: 145vh;
}

.multimedia {
  display: block;
  /* padding-left: 240px; */
}

.multimedia-title {
  display: flex;
  color: white;
  padding-left: 10px;
  font-family: 'Supreme';
}


.image-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.editing-video {
  display: flex;
  justify-content: center;
  width: 800px;
}

.thumbnail-image {
  width: 450px;
  transition-duration: 0.5s;
}

.thumbnail-image:hover {
  transform: scale(1.035);
}

.banner-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
}

.banner-image {
  width: 580px;
  transition-duration: 0.5s;
}

.banner-image:hover {
  transform: scale(1.035);
}

.emotes-section{
  display: flex;
  justify-content: center;
  column-gap: 35px;
}
.emote {
  width: 300px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .portfolio {
    height: 325vh;
  }

  .multimedia {
    display: block;
    padding-left: 0px; /* Adjust padding for smaller screens */
  }

  .sample-video,
  .editing-video,
  .thumbnail-image,
  .banner-image,
  .emote {
    width: 100%; /* Make elements full width on smaller screens */
  }

  .multimedia-title {
    display: flex;
    justify-self: center;
    font-family: 'Supreme';
  }

  .emotes-section{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
  }

  .emote{
    width: 150px;
    height: 100%;
  }

}


@font-face {
  font-family: 'Supreme';
  src: local('Supreme'), url(../fonts/Supreme-Regular.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}